= form_for [@patient, @diagnosis] do |f|
  - if @diagnosis.errors.any?
    #error_explanation
      %h2= "#{pluralize(@diagnosis.errors.count, "error")} prohibited this diagnosis from being saved:"
      %ul
        - @diagnosis.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :diagnostico_y_tratamiento
    = f.text_area :diagnostico_y_tratamiento
  = f.hidden_field :patient#, :value: @patient.id
  .actions
    = f.submit 'Save'
