%ol.breadcrumb
  %li.breadcrumb-item= link_to "Inicio", root_path
  %li.breadcrumb-item= link_to @patient.show_nombre, patient_path(@patient)
  %li.breadcrumb-item.active diagnósticos
%h1 Listing diagnoses

%table
  %thead
    %tr
      %th Diagnostico y tratamiento
      %th Patient
      %th
      %th
      %th

  %tbody
    - @diagnoses.each do |diagnosis|
      %tr
        %td= diagnosis.diagnostico_y_tratamiento
        %td= diagnosis.patient.nombre
        %td= link_to 'Show', patient_diagnosis_path(diagnosis.patient, diagnosis)
        %td= link_to 'Edit', edit_patient_diagnosis_path(diagnosis.patient, diagnosis)
        %td= link_to 'Destroy', patient_diagnosis_path(diagnosis.patient, diagnosis), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to "Pacientes", patients_path
\|
= link_to 'New Diagnosis', new_patient_diagnosis_path(@patient)
