%ol.breadcrumb
  %li.breadcrumb-item= link_to "Inicio", root_path
  %li.breadcrumb-item= link_to @patient.show_nombre, patient_path(@patient)
  %li.breadcrumb-item.active diagnósticos
.container
  .row
    .col
      %h1
        Diagnósticos
        = @patient.show_nombre

  .row
    .col
      %table.table.table-striped
        %thead.thead-default
          %tr
            %th Diagnostico y tratamiento
            %th
            %th
            %th

        %tbody
          - @diagnoses.each do |diagnosis|
            %tr
              %td= cortar_descripcion diagnosis.diagnostico_y_tratamiento
              %td= button_to 'Ver', patient_diagnosis_path(diagnosis.patient, diagnosis), method: :get, class:      "btn btn-outline-secondary btn-sm"
              %td= button_to 'Editar', edit_patient_diagnosis_path(diagnosis.patient, diagnosis), method: :get, class: "btn btn-outline-secondary btn-sm"
              %td= button_to 'Eliminar', patient_diagnosis_path(diagnosis.patient, diagnosis), :method => :delete, :data => { :confirm => '¿Está seguro de eliminar al paciente?' }, class: "btn btn-outline-danger btn-sm"

