%p#notice= notice

%p
  %b Diagnostico y tratamiento:
  = @diagnosis.diagnostico_y_tratamiento
%p
  %b Patient:
  = @diagnosis.patient

= link_to 'Edit', edit_patient_diagnosis_path(@patient, @diagnosis)
\|
= link_to 'Back', patient_diagnoses_path(@patient)
