%p#notice= notice

%p
  %b Diagnóstico y tratamiento:
  = @diagnosis.diagnostico_y_tratamiento
%p
  %b Paciente:
  = @diagnosis.patient.show_nombre

= link_to 'Edit', edit_patient_diagnosis_path(@patient, @diagnosis)
\|
= link_to 'Back', patient_diagnoses_path(@patient)
