= form_for @patient do |f|
  - if @patient.errors.any?
    #error_explanation
      %h2= "#{pluralize(@patient.errors.count, "error")} prohibited this patient from being saved:"
      %ul
        - @patient.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :apellido_paterno
    = f.text_field :apellido_paterno
  .field
    = f.label :apellido_materno
    = f.text_field :apellido_materno
  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :rut
    = f.text_field :rut
  .field
    = f.label :fecha_nacimiento
    = f.datetime_select :fecha_nacimiento
  .field
    = f.label :telefono
    = f.text_field :telefono
  .field
    = f.label :celular
    = f.text_field :celular
  .field
    = f.label :direccion
    = f.text_field :direccion
  .field
    = f.label :ocupacion
    = f.text_field :ocupacion
  .field
    = f.label :derivado
    = f.text_field :derivado
  .actions
    = f.submit 'Save'
