%ol.breadcrumb
  %li.breabcrumb-item.active Inicio
.row
  .col
    %h1 Listado de Pacientes
.row
  .col
    %table.table.table-striped
      %thead.thead-default
        %tr
          %th Apellido paterno
          %th Apellido materno
          %th Nombre
          %th Rut
          %th Fecha nacimiento
          %th Telefono
          %th Celular
          %th Direccion
          %th Ocupacion
          %th Derivado
          %th
          %th
          %th

      %tbody
        - @patients.each do |patient|
          %tr
            %td= patient.apellido_paterno
            %td= patient.apellido_materno
            %td= patient.nombre
            %td= patient.rut
            %td= formateo_de_fecha patient.fecha_nacimiento
            %td= patient.telefono
            %td= patient.celular
            %td= patient.direccion
            %td= patient.ocupacion
            %td= patient.derivado
            %td= button_to 'Mostrar', patient, method: :get, class: "btn btn-secondary btn-sm"
            %td= button_to 'Editar', edit_patient_path(patient), method: :get, class: "btn btn-secondary btn-sm"
            %td= button_to 'Eliminar', patient, :method => :delete, :data => { :confirm => '¿Está seguro de eliminar al paciente?' }, class: "btn btn-danger btn-sm"

%br

= button_to 'Nuevo paciente', new_patient_path, method: :get, class: "btn btn-primary"
